@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(153, 153, 226);
    font-size: 20px;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
}
.leftsection .btn{
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;


}

.rightsection img {
    width: 80%;
    margin: 50px 0;

}

.purple {
    color: rgb(170, 107, 228);
}

.text-gray {
    color: gray;
}

#element {
    color: rgb(170, 107, 228);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondsection h1 {
    font-size: 1.9rem;
}

.secondsection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;

}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}

.verticaltitle {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.verticaldesc { 
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;
}

.imagetop {
    width: 30px;
    position: relative;
    top: -32px;
    left: -9px
}
footer {
    background-color: #0e0e1a;
    padding: 40px 122px;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-top h3 {
    margin: 0;
    font-size: 24px;
  }
  
  .footer-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav a {
    font-size: 14px;        
    color: #fff;
    background: none;       
    text-decoration: none;
    transition: color 0.3s;
  }
  
  
  .footer-nav a:focus,
  .footer-nav a:active {
    outline: none;
    background: none;
  }
  /* .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: gray;
  } */